html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px;
}

.appHeader {
  background-color: var(--dark);
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--info);
}

footer {
  position: absolute;
  bottom: 0;
  top: 100%;
  left: 0;
  right: 0;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  background-color: var(--dark);
  color: var(--info);
  font-size: 1.5em;
}

input {
  border: solid var(--info) !important;
}

div.input-group {
  width: 50%;
}

form {
  display: flex;
  justify-content: center;
  height: 30vh;
  align-items: center;
}

.moviesSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.movieCard {
  margin: 3%;
}
